 body{
     background-color:bisque;
 }
 h1{
     text-align: center;
 }
#a1{
    width: 200px;
    height: 200px;
    background-color:darkgoldenrod;

    
    margin: auto;
    position: fixed;
    top: 100px;

}

#a2{
    width: 200px;
    height: 200px;
    background-color:blue;

}