.main{
    overflow: auto;
}

.c1{
    width: 50%;
    float: left;
}
.c1{
    width: 50%;
    float: right;
}
.sc1{
    width: 100%;
    height: 200px;
    background-color:brown;
}
.sc2{
    width: 100%;
    height: 200px;
    background-color:blue;
}
.sc3{
    width: 100%;
    height: 200px;
    background-color:aqua;
}
.sc4{
    width: 100%;
    height: 200px;
    background-color:chocolate;
}